
* {
    background-color: #000;
    color: #fff;
    
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    border: 1px solid red;
    color: #000;
    transition: all .3s;
}
button:hover {
    padding: 6px;
    margin: 6px;
    background-color: #fff;
    border-radius: 11px;
    width: 85px;
    height: 45px;
    border: 1px solid red;
    color: #000;
    
}