
* {
    background-color: #000;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    
    border: 1px solid red;
    box-shadow: 0 0.5 0.5 0.5 red;
    color: #000;
}